.agenda-calendar {
  /* Toolbar styles */
  .rbc-toolbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .rbc-toolbar-label {
    flex: 1 1 auto;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }

  /* Style for events in the calendar */
  .rbc-event {
    background-color: var(--theme-calendar-color) !important;
    border: none !important;
  }

  .rbc-event-content {
    color: black !important;
    font-weight: 600;
  }

  /* Style for selected events */
  .rbc-selected {
    background-color: var(--theme-calendar-color) !important;
    opacity: 0.8;
  }

  /* Style for dates from other months */
  .rbc-off-range {
    color: var(--theme-hover-color) !important;
    opacity: 0.4 !important;
  }

  .rbc-off-range-bg {
    background-color: var(--theme-hover-color) !important;
    opacity: 0.2 !important;
  }
}